vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Nov 2019 19:43:15 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|src/main/webapp/Login.jsp
vti_author:SR|DESKTOP-R0TK220\\imidd
vti_modifiedby:SR|DESKTOP-R0TK220\\imidd
vti_timecreated:TR|12 Nov 2019 19:43:15 -0000
vti_cacheddtm:TX|12 Nov 2019 19:43:15 -0000
vti_filesize:IR|151
